@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/IMG/main slider pic makkah 1.jpg"alt="First slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">   
                          </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/IMG/main slider pic makkah2.jpg" alt="Second slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                          
                           
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/Image/madinaaaaaaaaaa.jpg" alt="Third slide"/>
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">       
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/IMG/main slider pic madehan 2.jpg" alt="Fourth slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/IMG/main slider pic karbala.jpeg" alt="Fifth slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/IMG/main slider pic karbala 2.jpg" alt="Third slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/IMG/main slider pic dubai 1.jpg" alt="Third slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="~/IMG/main slider pic mala1.jpg" alt="Third slide">
                    <!-- Static Header -->
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                        </div>
                    </div><!-- /header-text -->
                </div>
            </div>
            <!-- Controls -->
           
        </div>
        <!-- /carousel -->
    </div>
</div>

<div align="center">
    <h1 style="font-weight:bold; font-weight:bolder; color:black">About Us</h1>
    <div class="footer_text">
        <p style="color:black; font-family:'Times New Roman'; font-size:20px; text-align:center">Ayaz GateWays PVT (LTD) we provided services of Hajj &amp; Umrah moreover visit visa of international countries like Dubai,Malayisa,Thailand etc &amp; also provide the facilities of online booking  &amp; also sell domestic &amp; international tickets.Tourism is one of the most developed business , especially in developed countries. People love to travel and leave all the planning to travel agencies.</p>
        <p style="text-align: right;"><span id="1478090942203S" style="display: none;">&nbsp;</span></p>
    </div>
</div>

<!-- MAIN (Center website) -->
<div class="main">

    <div class="row" >
        <div class="column">

            <div class="content">
                <div class="container">
                    <div class="tester">
                        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Umrah</h3>
                    </div>
                    <div class="row">
                        <div class="home-page-down-div-img">
                            <img src="~/IMG/90978.jpg" style="height:270px"/>
                        </div>
                    </div>
                    <div class="tester">
                        <a href="@Url.Action("Umrah", "Home")" style="font-size:22px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">BOOK NOW</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="content">

                <div class="container">
                    <div class="tester">
                        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Hajj</h3>
                    </div>
                    <div class="row">
                        <div class="home-page-down-div-img">
                            <img src="~/Image/Hajj1.jpg" style="height:270px"/>
                        </div>
                    </div>
                    <div class="tester">
                        <a href="@Url.Action("Hajj", "Home")" style="font-size:22px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">BOOK NOW</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="column">
            <div class="content">

                <div class="container">
                    <div class="tester">
                        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Ziyarat</h3>
                    </div>
                    <div class="row">
                        <div class="home-page-down-div-img">
                            <img src="~/Image/8b0f8f02b5c3ed7b5c7b04f209437d3b.jpg" style="height:270px"/>
                        </div>
                    </div>
                    <div class="tester">
                        <a href="@Url.Action("Ziyarat", "Home")" style="font-size:22px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">BOOK NOW</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- END GRID -->
    </div>
    <div class="row">
        <script type="text/javascript" language="javascript">
         function ShowPopUp()
         {
            alert('COMMING SOON...!!!')
         }
        </script>
        <div class="column">
            <div class="content">

                <div class="container">
                    <div class="tester">
                        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">International Tours</h3>
                    </div>
                    <div class="row">
                        <div class="home-page-down-div-img">
                            <img src="~/Image/Aerial-View-The-Sun-Siyam-Iru-Fushi-Maldives.jpg" style="height:270px"/>
                        </div>
                    </div>
                    <div class="tester">
                        <a href="@Url.Action("InternationalTour", "Home")" style="font-size:22px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">BOOK NOW</a>
                    </div>

                </div>

            </div>
        </div>
        <div class="column">
            <div class="content">
                <div class="container">
                    <div class="tester">
                        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Tickets</h3>
                    </div>
                    <div class="row">
                        <div class="home-page-down-div-img">
                            <img src="~/Image/ticket123.jpg" style="height:270px"/>
                        </div>
                    </div>
                    <div class="tester">
                       <a href="#" onclick="javascript:ShowPopUp()" style="font-size:22px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">BOOK NOW</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="content">

                <div class="container">
                    <div class="tester">
                        <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Local Tours</h3>
                    </div>
                    <div class="row">
                        <div class="home-page-down-div-img">
                            <img src="~/Image/international-tour-packages.jpg" style="height:270px"/>
                        </div>
                    </div>
                    <div class="tester">
                        <a href="@Url.Action("LocalTour", "Home")" style="font-size:22px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">BOOK NOW</a>
                    </div>
                </div>

            </div>
        </div>
        <!-- END GRID -->
    </div>

    <section class="fix">
        <div class="container4">
            <a><h1 style="color:coral;">VISIT US</h1></a>
        </div>
    </section>
    <!-- END MAIN -->
</div>

